@import "fire/fire";
@import "colours/colours";
@import "book/book";
@import "laptop/laptop";
@import "plant/plant";
@import "person/person";

$logo1: (
  ($empty),
  ($empty),
  ($empty),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$b,$b,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$b,$b,$b,$b,$b,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$b,$a,$a,$a,$a,$a,$b,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$b,$a,$t,$a,$t,$a,$b,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$b,$c,$t,$c,$b,$l,$t,$l,$b,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$b,$c,$c,$t,$b,$t,$l,$l,$b,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$b,$c,$c,$t,$l,$l,$b,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$b,$t,$b,$t,$b,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);

$fire7: (
  ($empty),
  ($empty),
  ($empty),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);

/*Borrowed from https://dev.to/jnschrag/creating-pixel-art-with-css-3451*/
@function pixelize($colors, $size) {
  $result: '';
  $numRows: length($colors);

  @for $rowIndex from 1 through $numRows {
    $y: ($rowIndex - 1);
    $row: nth($colors, $rowIndex);
    $numCols: length($row);

    /*If row is empty then make a row of transparents*/
    /*@debug "ROW: #{$row}";*/
    @if $row == "empty" {
      @for $cellIndex from 1 through $columns{
        $x: ($cellIndex - 1);
        $sep: ', ';
        @if $x == 0 and $y == 0 {
          $sep: '';
        }
        $result: $result + '#{$sep}#{$x * $size} #{$y * $size} #{$t}'
      }
    }
    @else{
      @for $cellIndex from 1 through $numCols {
        $x: ($cellIndex - 1);
        $color: nth($row, $cellIndex);
  
        $sep: ', ';
        @if $x == 0 and $y == 0 {
          $sep: '';
        }
  
        $result: $result + '#{$sep}#{$x * $size} #{$y * $size} #{$color}'
      }
    }
  }

  $result: unquote($result);
  @return $result;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

body {
  background: #5f6171;
}

grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 30px;
  grid-template-columns: auto auto auto;
  margin-top: 15%;
}

#person{
  //position: relative;
  width: calc(#{$columns} * #{$size});
  height: calc(#{$rows} * #{$size});

  &::after,
  &::before{
    margin: 1rem;
    width: $size;
    height: $size;
    content:'';
    position: absolute;
    box-shadow: pixelize($person1, $size);
  }
}


#book{
  //position: relative;
  width: calc(#{$columns} * #{$size});
  height: calc(#{$rows} * #{$size});
  transform: scale(0.7);
  &::after,
  &::before{
    margin: 1rem;
    width: $size;
    height: $size;
    content:'';
    position: absolute;
    box-shadow: pixelize($bookOpening1, $size);
  }
}

@keyframes animateBook {
  0%{
    box-shadow: pixelize($bookOpening1, $size);
  }
  20% {
    box-shadow: pixelize($bookOpening2, $size);
  }
  40% {
    box-shadow: pixelize($bookOpening3, $size);
  }
  60% {
    box-shadow: pixelize($bookOpening4, $size);
  }
  80% {
    box-shadow: pixelize($bookOpening5, $size);
  }
  100% {
    box-shadow: pixelize($bookOpening5, $size);
  }
}

#book:hover{
  &::after{
    animation: animateBook .5s steps(1,end) forwards;
    animation-fill-mode: both;
  }
}

#plant{
  position: relative;
  width: calc(#{$columns} * #{$size});
  height: calc(#{$rows} * #{$size});
  left: 80px;

  &::after,
  &::before{
    margin: 1rem;
    width: $size;
    height: $size;
    content:'';
    position: absolute;
    //box-shadow: pixelize($plantBoogie1, $size);
  }

  &::after{
    animation: animatePlant 1s steps(1,end) infinite;
  }
}

@keyframes animatePlant {
  0%{
    box-shadow: pixelize($plantBoogie1, $size);
  }
  25% {
    box-shadow: pixelize($plantBoogie2, $size);
  }
  50% {
    box-shadow: pixelize($plantBoogie3, $size);
  }
  75% {
    box-shadow: pixelize($plantBoogie4, $size);
  }
  100% {
    box-shadow: pixelize($bookOpening4, $size);
  }
}

#fire {
  //position: relative;
  width: calc(#{$columns} * #{$size});
  height: calc(#{$rows} * #{$size});

  &::after,
  &::before{
    width: $size;
    height: $size;
    content:'';
    position: absolute;
  }

  &::after{
    animation: animateFire .5s steps(1,end) infinite;
  }

  // &::before{
  // //   box-shadow: pixelize($fire1, $size);
  //   box-shadow: 8px 8px var(--c)
  // }
}


@keyframes animateFire {
  0%{
    box-shadow: pixelize($fire1, $size);
  }
  16% {
    box-shadow: pixelize($fire2, $size);
  }
  32% {
    box-shadow: pixelize($fire3, $size);
  }
  48% {
    box-shadow: pixelize($fire4, $size);
  }
  64% {
    box-shadow: pixelize($fire5, $size);
  }
  80% {
    box-shadow: pixelize($fire6, $size);
  }
  100% {
    box-shadow: pixelize($fire6, $size);
  }
}


#laptop {
  position: relative;
  width: calc(#{$columns} * #{$size});
  height: calc(#{$rows} * #{$size});
  left: 80px;

  &::after,
  &::before{
    width: $size;
    height: $size;
    content:'';
    position: absolute;
    box-shadow: pixelize($laptop1, $size);
  }
}

#laptop:hover{
  &::after{
    animation: animateLaptop .5s steps(1,end) forwards;
    animation-fill-mode: forwards;
  }
}

@keyframes animateLaptop {
  0%{
    box-shadow: pixelize($laptop1, $size);
  }
  50% {
    box-shadow: pixelize($laptop2, $size);
  }
  75% {
    box-shadow: pixelize($laptop3, $size);
  }
  100% {
    box-shadow: pixelize($laptop4, $size);
  }
}