@import "../colours/colours";

$g: rgb(34,139,34);
$e: rgb(34,34,139);
$r: rgb(139,69,19);
$w: rgb(245,222,179);
$p: rgb(75,0,130);
$o: rgb(75,40,10);
$c: rgb(120,80,20);
$l: rgb(140,100,30);
$m: rgb(222,184,135);
$n: rgb(205,133,63);
$i: rgb(255,105,180);
$q: rgb(0,255,0);
$y: rgb(0,128,255);
$plantBoogie41:(
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$g,$b,$b,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$b,$g,$g,$g,$b,$g,$b,$g,$b,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$b,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$g,$b,$g,$g,$g,$g,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$b,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$g,$b,$b,$g,$g,$g,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$g,$b,$t,$g,$g,$g,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$b,$g,$b,$t,$b,$g,$g,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$g,$b,$g,$b,$t,$t,$b,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$b,$b,$b,$g,$b,$b,$b,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$b,$g,$g,$g,$g,$b,$b,$r,$r,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$g,$g,$g,$g,$g,$b,$b,$b,$b,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$b,$b,$b,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$t,$t,$t,$t,$b,$b,$t,$t,$t,$b,$b,$b,$b,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$b,$t,$t,$b,$t,$t,$b,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$b,$t,$t,$b,$t,$t,$b,$t,$b,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$b,$t,$t,$b,$t,$b,$t,$t,$b,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$b,$t,$t,$t,$b,$b,$e,$e,$e,$e,$b,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$t,$t,$t,$t,$t,$t,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);

$plantBoogie1:(
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$b,$t,$t,$t),
  ($t,$t,$t,$b,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t),
  ($t,$t,$t,$t,$b,$t,$t,$t,$t,$o,$o,$o,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$o,$c,$m,$m,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$o,$o,$n,$n,$n,$n,$c,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$o,$c,$n,$n,$n,$n,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$g,$b,$b,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$o,$c,$m,$c,$c,$n,$n,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$g,$b,$g,$b,$b,$t,$t,$t),
  ($t,$t,$t,$t,$o,$n,$n,$m,$m,$c,$n,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$b,$t,$t),
  ($t,$t,$t,$o,$n,$n,$n,$n,$n,$m,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$g,$b,$g,$g,$g,$g,$b,$t),
  ($t,$t,$t,$o,$n,$n,$n,$n,$n,$n,$n,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$g,$b,$b,$g,$g,$g,$b,$t),
  ($t,$t,$o,$m,$c,$c,$n,$n,$n,$n,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$g,$b,$b,$g,$g,$g,$b,$t),
  ($t,$o,$c,$n,$m,$m,$c,$n,$l,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$b,$g,$b,$t,$b,$g,$g,$b,$t),
  ($t,$o,$m,$n,$n,$n,$m,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$g,$b,$g,$b,$t,$t,$b,$b,$t,$t),
  ($t,$o,$m,$n,$n,$n,$l,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$b,$b,$b,$g,$b,$b,$t,$t,$t,$t,$t),
  ($t,$o,$m,$n,$n,$l,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$b,$g,$g,$g,$g,$g,$b,$r,$b,$t,$t,$t,$t),
  ($t,$t,$o,$c,$l,$l,$c,$o,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$b,$b,$g,$g,$g,$g,$g,$b,$b,$b,$e,$b,$t,$t,$t),
  ($t,$t,$t,$o,$o,$o,$o,$t,$t,$t,$t,$t,$t,$b,$p,$i,$p,$y,$p,$b,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$b,$b,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$p,$p,$b,$b,$b,$q,$p,$b,$b,$t,$t,$t,$t,$b,$b,$b,$b,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$p,$i,$b,$r,$r,$r,$b,$p,$p,$b,$t,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$q,$p,$p,$b,$b,$r,$b,$b,$p,$i,$p,$b,$t,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$r,$i,$p,$y,$p,$b,$i,$q,$p,$p,$y,$b,$t,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$r,$p,$p,$r,$p,$r,$p,$r,$r,$b,$t,$t,$t,$t,$t,$t,$b,$b,$e,$e,$e,$e,$b,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$r,$r,$r,$r,$r,$r,$r,$r,$r,$b,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$r,$r,$r,$r,$r,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);

$plantBoogie2:(
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$b,$t,$b,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$b,$t,$t,$b,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$t,$t,$t,$t,$t),
  ($t,$t,$b,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$b,$t,$t,$t,$t),
  ($t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$o,$o,$o,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$o,$c,$m,$m,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$o,$o,$n,$n,$n,$n,$c,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$o,$c,$n,$n,$n,$n,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$g,$b,$b,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$o,$c,$m,$c,$c,$n,$n,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$g,$b,$g,$b,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$o,$n,$n,$m,$m,$c,$n,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$b,$t,$t,$t),
  ($t,$t,$t,$o,$n,$n,$n,$n,$n,$m,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$g,$b,$g,$g,$g,$g,$b,$t,$t),
  ($t,$t,$t,$o,$n,$n,$n,$n,$n,$n,$n,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$g,$b,$b,$g,$g,$g,$b,$t,$t),
  ($t,$t,$o,$m,$c,$c,$n,$n,$n,$n,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$g,$b,$b,$g,$g,$g,$b,$t,$t),
  ($t,$o,$c,$n,$m,$m,$c,$n,$l,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$b,$g,$b,$t,$b,$g,$g,$b,$t,$t),
  ($t,$o,$m,$n,$n,$n,$m,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$g,$b,$g,$b,$t,$t,$b,$b,$t,$t,$t),
  ($t,$o,$m,$n,$n,$n,$l,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$b,$b,$b,$g,$b,$b,$b,$t,$t,$t,$t,$t),
  ($t,$o,$m,$n,$n,$l,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$b,$g,$g,$g,$g,$g,$b,$r,$r,$b,$t,$t,$t,$t),
  ($t,$t,$o,$c,$l,$l,$c,$o,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$t,$t,$t,$t,$t,$b,$b,$g,$g,$g,$g,$g,$b,$b,$b,$b,$e,$b,$t,$t,$t),
  ($t,$t,$t,$o,$o,$o,$o,$t,$t,$t,$t,$t,$t,$b,$p,$p,$p,$p,$p,$b,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$b,$b,$e,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$p,$p,$b,$b,$b,$p,$p,$b,$b,$t,$t,$t,$b,$b,$b,$b,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$p,$p,$b,$r,$r,$r,$b,$p,$p,$b,$t,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$p,$p,$p,$b,$b,$r,$b,$b,$p,$p,$p,$b,$t,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$r,$o,$p,$p,$p,$b,$p,$p,$p,$p,$p,$b,$t,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$r,$p,$p,$r,$p,$r,$p,$r,$r,$b,$t,$t,$t,$t,$t,$t,$b,$b,$e,$e,$e,$e,$b,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$r,$r,$r,$r,$r,$r,$r,$r,$r,$b,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$r,$r,$r,$r,$r,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);

$plantBoogie3:(
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$b,$t,$t,$t,$t,$t,$b,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$b,$t,$t,$t,$b,$t,$t,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$b,$t,$b,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$b,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$o,$o,$o,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$o,$c,$m,$m,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$o,$o,$n,$n,$n,$n,$c,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$o,$c,$n,$n,$n,$n,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$g,$b,$b,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$o,$c,$m,$c,$c,$n,$n,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$g,$b,$g,$b,$b,$t,$t,$t),
  ($t,$t,$t,$t,$o,$n,$n,$m,$m,$c,$n,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$b,$t,$t),
  ($t,$t,$t,$o,$n,$n,$n,$n,$n,$m,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$g,$b,$g,$g,$g,$g,$b,$t),
  ($t,$t,$t,$o,$n,$n,$n,$n,$n,$n,$n,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$g,$b,$b,$g,$g,$g,$b,$t),
  ($t,$t,$o,$m,$c,$c,$n,$n,$n,$n,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$g,$b,$b,$g,$g,$g,$b,$t),
  ($t,$o,$c,$n,$m,$m,$c,$n,$l,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$b,$g,$b,$t,$b,$g,$g,$b,$t),
  ($t,$o,$m,$n,$n,$n,$m,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$g,$b,$g,$b,$t,$t,$b,$b,$t,$t),
  ($t,$o,$m,$n,$n,$n,$l,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$b,$b,$b,$g,$b,$b,$t,$t,$t,$t,$t),
  ($t,$o,$m,$n,$n,$l,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$b,$g,$g,$g,$g,$g,$b,$r,$b,$t,$t,$t,$t),
  ($t,$t,$o,$c,$l,$l,$c,$o,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$b,$b,$g,$g,$g,$g,$g,$b,$b,$b,$e,$b,$t,$t,$t),
  ($t,$t,$t,$o,$o,$o,$o,$t,$t,$t,$t,$t,$t,$b,$p,$i,$p,$y,$p,$b,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$b,$b,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$p,$p,$b,$b,$b,$q,$p,$b,$b,$t,$t,$t,$t,$b,$b,$b,$b,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$p,$i,$b,$r,$r,$r,$b,$p,$p,$b,$t,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$q,$p,$p,$b,$b,$r,$b,$b,$p,$i,$p,$b,$t,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$r,$i,$p,$y,$p,$b,$i,$q,$p,$p,$y,$b,$t,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$r,$p,$p,$r,$p,$r,$p,$r,$r,$b,$t,$t,$t,$t,$t,$t,$b,$b,$e,$e,$e,$e,$b,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$r,$r,$r,$r,$r,$r,$r,$r,$r,$b,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$r,$r,$r,$r,$r,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);

$plantBoogie4:(
  ($t,$t,$t,$b,$t,$t,$b,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$b,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$b,$t,$t,$t,$t,$t,$b,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$b,$t,$t,$t,$b,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$o,$o,$o,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$o,$c,$m,$m,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$o,$o,$n,$n,$n,$n,$c,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$o,$c,$n,$n,$n,$n,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$g,$b,$b,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$o,$c,$m,$c,$c,$n,$n,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$g,$b,$g,$b,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$o,$n,$n,$m,$m,$c,$n,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$b,$t,$t,$t),
  ($t,$t,$t,$o,$n,$n,$n,$n,$n,$m,$n,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$g,$b,$g,$g,$g,$g,$b,$t,$t),
  ($t,$t,$t,$o,$n,$n,$n,$n,$n,$n,$n,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$g,$b,$b,$g,$g,$g,$b,$t,$t),
  ($t,$t,$o,$m,$c,$c,$n,$n,$n,$n,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$g,$b,$b,$g,$g,$g,$b,$t,$t),
  ($t,$o,$c,$n,$m,$m,$c,$n,$l,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$b,$g,$b,$t,$b,$g,$g,$b,$t,$t),
  ($t,$o,$m,$n,$n,$n,$m,$n,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$g,$g,$b,$g,$b,$t,$t,$b,$b,$t,$t,$t),
  ($t,$o,$m,$n,$n,$n,$l,$l,$l,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$b,$b,$b,$g,$b,$b,$b,$t,$t,$t,$t,$t),
  ($t,$o,$m,$n,$n,$l,$l,$c,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$g,$g,$b,$g,$g,$g,$g,$g,$b,$r,$r,$b,$t,$t,$t,$t),
  ($t,$t,$o,$c,$l,$l,$c,$o,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$t,$t,$t,$t,$t,$b,$b,$g,$g,$g,$g,$g,$b,$b,$b,$b,$e,$b,$t,$t,$t),
  ($t,$t,$t,$o,$o,$o,$o,$t,$t,$t,$t,$t,$t,$b,$p,$p,$p,$p,$p,$b,$t,$t,$t,$t,$t,$b,$g,$g,$g,$b,$b,$b,$e,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$p,$p,$b,$b,$b,$p,$p,$b,$b,$t,$t,$t,$b,$b,$b,$b,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$p,$p,$b,$r,$r,$r,$b,$p,$p,$b,$t,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$p,$p,$p,$b,$b,$r,$b,$b,$p,$p,$p,$b,$t,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$r,$o,$p,$p,$p,$b,$p,$p,$p,$p,$p,$b,$t,$t,$t,$t,$b,$e,$e,$e,$e,$e,$e,$e,$e,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$r,$p,$p,$r,$p,$r,$p,$r,$r,$b,$t,$t,$t,$t,$t,$t,$b,$b,$e,$e,$e,$e,$b,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$r,$r,$r,$r,$r,$r,$r,$r,$r,$b,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$r,$r,$r,$r,$r,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);