$size: 4px;
$columns: 40;
$rows: 40;
$empty: "empty";

// Colors
$t: transparent;
$black: #000;
$gray: #cdc9cf;
$dkgray: #a09da1;
$pink: #ffa6ed;
$cri:  rgb(220,20,60);
$tom: rgb(255,99,71);
$c:  rgb(220,20,60);
$o: rgb(255,99,71);
$b: rgb(0,0,0);
$g: rgb(211,211,211);
$a: rgb(218,165,32);
$l: rgb(0,0,208);