@import "../colours/colours";


$fire1: (
  ($empty),
  ($empty),
  ($empty),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$o,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$c,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$c,$c,$o,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$c,$c,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$c,$c,$c,$o,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$c,$c,$c,$c,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$c,$c,$c,$c,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$c,$c,$c,$c,$c,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$c,$c,$c,$c,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$o,$o,$c,$c,$c,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$o,$o,$c,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$o,$o,$o,$o,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$o,$o,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$o,$o,$o,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$o,$o,$o,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$o,$o,$o,$o,$c,$o,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$c,$c,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  // ($t, $t, $black, $gray, $black, $t, $t, $t, $t, $black, $gray, $black),
  // ($t, $t, $black, $gray, $dkgray, $black, $black, $black, $black, $dkgray, $gray, $black, $t, $t, $t, $t, $t, $t, $t, $t, $black, $black),
  // ($t, $black, $dkgray, $gray, $gray, $dkgray, $dkgray, $gray, $dkgray, $gray, $gray, $dkgray, $black, $t, $t, $t, $t, $t, $t, $black, $gray, $gray, $black),
  // ($t, $black, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $black, $t, $t, $t, $t, $t, $t, $black, $gray, $gray, $black),
  // ($black, $dkgray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $dkgray, $black, $black, $black, $black, $t, $t, $t, $black, $dkgray, $black),
  // ($black, $gray, $gray, $black, $gray, $gray, $black, $gray, $gray, $black, $gray, $gray, $gray, $dkgray, $gray, $dkgray, $gray, $black, $t, $t, $black, $gray, $black),
  // ($black, $gray, $pink, $gray, $gray, $black, $gray, $black, $gray, $gray, $pink, $gray, $gray, $dkgray, $gray, $dkgray, $gray, $gray, $black, $black, $black, $dkgray, $black),
  // ($black, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $black, $gray, $black),
  // ($black, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $black, $gray, $black),
  // ($black, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $black),
  // ($black, $dkgray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $black),
  // ($black, $dkgray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $black),
  // ($black, $dkgray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $dkgray, $black),
  // ($t, $black, $dkgray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $gray, $dkgray, $black),
  // ($t, $t, $black, $dkgray, $gray, $dkgray, $dkgray, $gray, $dkgray, $gray, $gray, $gray, $dkgray, $gray, $dkgray, $dkgray, $gray, $dkgray, $black),
  // ($t, $t, $t, $black, $gray, $black, $black, $gray, $black, $black, $black, $black, $black, $gray, $black, $black, $gray, $black),
  // ($t, $t, $t, $black, $black, $t, $t, $black, $black, $t, $t, $t, $black, $black, $t, $t, $black, $black)
);







$fire2: (
  ($empty),
  ($empty),
  ($empty),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$o,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$o,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$c,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$c,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$c,$c,$c,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$c,$c,$c,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$c,$o,$c,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$c,$c,$o,$c,$c,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$c,$c,$c,$o,$c,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$c,$c,$c,$c,$o,$c,$c,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$c,$c,$c,$o,$o,$c,$c,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$c,$c,$c,$o,$o,$o,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$o,$o,$o,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$o,$o,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$o,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$o,$o,$o,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$o,$o,$o,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$c,$o,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$c,$c,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$c,$c,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$c,$c,$c,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);




$fire3: (
  ($empty),
  ($empty),
  ($empty),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$o,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$o,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$c,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$c,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$c,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$c,$t,$t,$t,$t,$t,$c,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$c,$o,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$t,$c,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$o,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$o,$o,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$o,$o,$o,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$o,$o,$o,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$o,$o,$o,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);

$fire4: (
  ($empty),
  ($empty),
  ($empty),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$c,$c,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$c,$t,$c,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$o,$o,$o,$o,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$o,$o,$o,$o,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$o,$o,$o,$o,$o,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$c,$c,$o,$o,$o,$o,$o,$o,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$c,$c,$c,$o,$o,$o,$c,$c,$c,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$c,$c,$o,$o,$o,$c,$c,$c,$c,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$o,$c,$t,$c,$c,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$c,$t,$c,$c,$c,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$c,$t,$t,$t,$c,$c,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);

$fire5: (
  ($empty),
  ($empty),
  ($empty),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$c,$o,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$c,$c,$o,$o,$c,$t,$t,$t,$t,$t,$t,$t,$t,$o,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$c,$c,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$c,$c,$c,$c,$c,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$o,$c,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$c,$c,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$t,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);

$fire6: (
  ($empty),
  ($empty),
  ($empty),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$c,$t,$c,$c,$c,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$t,$t,$c,$c,$t,$c,$c,$c,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$c,$c,$t,$t,$c,$c,$c,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$c,$t,$t,$c,$c,$t,$c,$c,$c,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$c,$o,$o,$o,$c,$c,$c,$c,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$c,$c,$o,$o,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$c,$o,$o,$o,$o,$o,$o,$o,$o,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$o,$o,$o,$o,$o,$o,$o,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$o,$o,$o,$o,$o,$o,$o,$c,$c,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$o,$o,$o,$o,$o,$c,$c,$c,$c,$o,$o,$o,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$o,$o,$o,$c,$c,$t,$t,$o,$o,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$c,$c,$c,$c,$t,$t,$t,$t,$c,$c,$c,$c,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$c,$c,$c,$t,$t,$t,$t,$t,$t,$c,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);


