@import "../colours/colours";

$cri:  rgb(220,20,60);
$tom: rgb(255,99,71);
$b: rgb(0,0,0);
$l: rgb(211,211,211);
$d: rgb(140,140,140);

$g: rgb(50,50,50);
$e: rgb(80,80,80);
$w: rgb(240,240,240);
$m: rgb(100,100,100);
$y: rgb(255,255,0);
$p: rgb(255,182,193);
$u: rgb(147,112,219);
$o: rgb(186,85,211);
$c: rgb(100,149,237);
$s: rgb(135,206,235);
$q: rgb(176,224,230);

$z: rgb(84,149,191);
$r: rgb(113,182,219);
$i: rgb(54,123,160);
$a: rgb(165, 200, 232);

$laptop1: (
  ($empty),
  ($empty),
  ($empty),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$r,$a,$l,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$z,$i,$l,$l,$l,$l,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$l,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$l,$l,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$w,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$l,$l,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$w,$w,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$l,$l,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$w,$w,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$l,$l,$b,$b,$l,$l,$l,$l,$b,$b,$w,$w,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$l,$l,$b,$b,$b,$b,$w,$w,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$w,$w,$w,$w,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);

$laptop: (
  ($empty),
  ($empty),
  ($empty),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$l,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$r,$a,$l,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$z,$i,$l,$l,$l,$l,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$l,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$l,$l,$l,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$w,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$b,$l,$l,$l,$l,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$w,$w,$g,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$w,$w,$g,$g,$b,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$b,$b,$l,$l,$l,$l,$b,$b,$w,$w,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$b,$b,$b,$b,$w,$w,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$w,$w,$w,$w,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);

$laptop2: (
  ($empty),
  ($empty),
  ($empty),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$b,$b,$b,$b,$b,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$d,$e,$e,$e,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$d,$d,$d,$d,$d,$e,$e,$e,$b,$b,$l,$l,$l,$l,$l,$l,$l,$r,$a,$l,$l,$l,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$l,$d,$d,$d,$d,$g,$g,$d,$e,$e,$b,$b,$l,$l,$l,$l,$l,$z,$i,$l,$l,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$g,$g,$g,$g,$g,$g,$d,$e,$e,$b,$b,$l,$l,$l,$l,$l,$l,$l,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$g,$g,$g,$g,$g,$g,$d,$e,$e,$b,$b,$l,$l,$l,$b,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$g,$g,$g,$g,$g,$g,$d,$e,$e,$b,$b,$b,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$g,$g,$d,$d,$d,$d,$d,$e,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$d,$d,$d,$d,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);

$laptop3: (
  ($empty),
  ($empty),
  ($empty),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$l,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$l,$l,$l,$l,$l,$l,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$l,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$l,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$l,$l,$l,$l,$l,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$d,$d,$g,$b,$b,$l,$l,$l,$l,$l,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$d,$d,$b,$b,$g,$g,$g,$b,$b,$l,$l,$l,$l,$l,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$b,$b,$g,$g,$b,$b,$g,$g,$g,$b,$b,$l,$l,$l,$r,$i,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$l,$l,$l,$l,$l,$l,$b,$b,$g,$g,$b,$b,$g,$g,$g,$b,$b,$l,$l,$l,$l,$l,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$l,$l,$l,$l,$l,$e,$e,$l,$b,$b,$g,$g,$b,$b,$g,$g,$g,$b,$b,$l,$l,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$e,$e,$e,$e,$e,$e,$l,$b,$b,$g,$g,$b,$b,$g,$g,$g,$b,$b,$l,$l,$b,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$e,$e,$e,$e,$e,$e,$l,$b,$b,$g,$g,$b,$b,$d,$d,$w,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$e,$e,$e,$e,$e,$e,$l,$b,$b,$d,$d,$w,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$e,$e,$l,$l,$d,$d,$w,$w,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$w,$w,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$w,$w,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);

$laptop4: (
  ($empty),
  ($empty),
  ($empty),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$p,$p,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$u,$u,$p,$p,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$o,$o,$u,$u,$p,$p,$p,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$c,$o,$o,$u,$u,$u,$p,$p,$p,$b,$b,$b,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$c,$c,$c,$o,$o,$o,$u,$u,$u,$p,$p,$p,$b,$b,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$s,$s,$c,$m,$m,$o,$o,$o,$u,$u,$u,$p,$p,$p,$b,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$q,$q,$m,$m,$m,$m,$m,$m,$m,$m,$o,$u,$y,$y,$p,$b,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$m,$m,$m,$m,$m,$m,$m,$m,$m,$m,$o,$o,$y,$y,$u,$b,$b,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$m,$m,$m,$m,$m,$m,$m,$m,$m,$m,$m,$c,$o,$o,$o,$b,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$m,$m,$m,$m,$m,$m,$m,$m,$m,$c,$c,$c,$o,$b,$b,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$b,$b,$b,$b,$m,$m,$m,$m,$m,$m,$m,$m,$s,$s,$b,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$b,$b,$g,$l,$b,$b,$b,$b,$m,$m,$m,$m,$m,$m,$q,$s,$b,$b,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$b,$b,$g,$g,$b,$b,$g,$l,$b,$b,$b,$b,$m,$m,$m,$m,$q,$b,$b,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$b,$b,$g,$g,$b,$b,$g,$g,$b,$b,$g,$l,$b,$b,$b,$b,$m,$m,$m,$b,$b,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$b,$b,$g,$g,$b,$b,$g,$g,$b,$b,$g,$g,$b,$b,$g,$l,$b,$b,$b,$m,$b,$b,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$l,$l,$l,$l,$l,$l,$b,$b,$g,$g,$b,$b,$g,$g,$b,$b,$g,$g,$b,$b,$g,$l,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$l,$l,$l,$l,$l,$m,$m,$l,$b,$b,$g,$g,$b,$b,$g,$g,$b,$b,$g,$g,$l,$l,$w,$w,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$m,$m,$m,$m,$m,$m,$l,$b,$b,$g,$g,$b,$b,$g,$g,$b,$l,$l,$w,$g,$g,$b,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$m,$m,$m,$m,$m,$m,$l,$b,$b,$g,$g,$b,$l,$l,$w,$w,$g,$g,$b,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$m,$m,$m,$m,$m,$m,$l,$b,$b,$l,$w,$w,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$m,$m,$l,$l,$l,$l,$w,$w,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$l,$l,$l,$l,$w,$w,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$w,$w,$g,$g,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b,$b,$b,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
  ($t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t,$t),
);